<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>CIMED/Modificacion Datos Doctores</title>
  <link rel="shortcut icon" href="/icon/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/stylesheets/Login.css">
  <link rel="stylesheet" href="/stylesheets/Login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="container-form registro_Datos_Doctor">
    <div class="information">
      <div class="info-childs">
        <div class="icons_Usuario">
          <img alt="Profile picture" id="profile-pic">
        </div>
        <br>
        <br>
        <input type="file" style="display: none;" id="pfp" name="pfp" accept="image/*" onchange="loadFile(event)" form="modificar-form">
        <br>
        <input type="button" value="Modificar Foto" id="sign-in" onclick="document.getElementById('pfp').click();" form="modificar-form">
        <br>
        <br>
        <div class="form-information-childs">
          <input type="submit" value="Modificar Datos" id="sign-in2" class="Btn1" form="modificar-form">
        </div>
      </div>
    </div>
    <div class="form-information">
      <div class="form-information-childs">
        <form class="form" id="modificar-form" enctype="multipart/form-data">
          <label>
            <i class='bx bx-captions'></i>
            <input type="text" placeholder="Cedula" id="cedula" name="cedula" value="<%= data.ID %>" disabled>
          </label>
          <label>
            <i class='bx bx-user'></i>
            <input type="text" placeholder="Nombre Completo" id="nombre" name="nombre" value="<%= data.NOMBRE %>">
          </label>
          <label>
            <i class='bx bx-user'></i>
            <input type="text" placeholder="Tarjeta Profesional" id="tarj_prof" name="nombre" value="<%= data.TARJETA_PROFESIONAL %>" disabled>
          </label>
          <label>
            <i class='bx bx-user'></i>
            <input type="text" placeholder="Especialidad" id="nombre-esp" name="nombre-esp" value="<%= data.NOMBRE_ESPECIALIDAD %>" disabled>
          </label>
          <label>
            <i class='bx bx-lock-alt'></i>
            <input type="password" placeholder="Ingrese su nueva clave" id="clave" name="clave" required>
          </label>
          <label>
            <i class='bx bx-lock-alt'></i>
            <input type="password" placeholder="Repita la clave" id="clave2" name="clave2" required>
          </label>
          <p style="color: #7a7a9a;">Sexo:
            <input type="radio" name="sexo" value="FEMENINO" <% if (data.SEXO === "FEMENINO") { %>checked<% } %>> Femenino
            <input type="radio" name="sexo" value="MASCULINO" <% if (data.SEXO === "MASCULINO") { %>checked<% } %>> Masculino
            <input type="radio" name="sexo" value="INTERSEXUALIDAD" <% if (data.SEXO === "INTERSEXUALIDAD") { %>checked<% } %>> Intersex
          </p>
        </form>

      </div>
    </div>
  </div>
  <script>
    const searchParams = new URLSearchParams(window.location.search);
    const id = searchParams.get("id");
    var image = document.getElementById('profile-pic');
    image.src = "/imagenPerfil?refPfp=<%= data.REFERENCIA_PFP %>"
    var loadFile = function(event) {
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
  <script src="/javascripts/modLogin_Doctor.js"></script>
  <script src="/javascripts/login.js"></script>
</body>

</html>